.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.hero-title {
  font-size: 64px;
  font-weight: 800;
  background: linear-gradient(90deg, #7f5cff, #00e0ff);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-subtitle {
  margin-top: 12px;
  font-size: 20px;
}

.hero-tagline {
  margin-top: 18px;
  font-size: 22px;
  letter-spacing: 1px;
}

.hero {
  min-height: 100vh;
  width: 100%;
  z-index: -1;
  background-image: url("/src/assets/HomeBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
